---
import Button from './Button.astro';
const { page } = Astro.props;
---

<div class='flex gap-2 pb-24 justify-center'>
  {
    (
      <Button href={page.url.prev} state={!page.url.prev && 'disabled'}>
        &laquo;
      </Button>
    )
  }

  {
    page.url.prev && (
      <Button href={page.url.prev}>{page.currentPage - 1}</Button>
    )
  }

  <Button href={'/projects/' + page.currentPage} state='active'>
    {page.currentPage}
  </Button>

  {
    page.url.next && (
      <Button href={page.url.next}>{page.currentPage + 1}</Button>
    )
  }

  {
    (
      <Button href={page.url.next} state={!page.url.next && 'disabled'}>
        &raquo;
      </Button>
    )
  }
</div>
