---
import readingTime from 'reading-time';

import RelativeTime from '../../ui/RelativeTime';
import Button from '../../ui/Button.astro';

// console.log(Astro.props);
const { post } = Astro.props;
const { data } = post;

const { title, created_at, summary } = data;

const link = `/blog/${post.slug}`;

const readingTimeMinutes = Math.ceil(readingTime(post.body).minutes);
---

<article class='flex flex-col rounded-md shadow overflow-hidden p-4 md:p-8'>
  <header class='border-b'>
    <div class='flex justify-between items-center'>
      <h2 class='capitalize'>{title}</h2>
      <span class='hidden md:block'>{readingTimeMinutes} mins read</span>
    </div>
    <div class='flex justify-between items-center'>
      <RelativeTime created_at={created_at} client:load />
      <span class='block md:hidden'>{readingTimeMinutes} mins read</span>
    </div>
  </header>
  <div class='pt-8'>
    <p>{summary}</p>
  </div>

  <div class='flex justify-end mt-8'>
    <Button href={link}>Read More</Button>
  </div>
</article>
