---
import ButtonOutline from "./ButtonOutline.astro";
const { page } = Astro.props;
---

<div class="flex gap-2 pb-24 justify-center">
    {<ButtonOutline href={page.url.prev} text="&laquo;" state={!page.url.prev && "disabled"} />}

    {
        page.url.prev && (
            <ButtonOutline href={page.url.prev} text={page.currentPage - 1} />
        )
    }

    <ButtonOutline
        href={"/projects/" + page.currentPage}
        text={page.currentPage}
        state="active"
    />

    {
        page.url.next && (
            <ButtonOutline href={page.url.next} text={page.currentPage + 1} />
        )
    }

    {<ButtonOutline href={page.url.next} text="&raquo;" state={!page.url.next && "disabled"} />}
</div>
