---
import ButtonOutline from "./ButtonOutline.astro";
import Badge from "./Badge.astro";

const { project } = Astro.props;
---

<div class="card">
    <div class="card__image-container">
        <img
            src={"/" + project.data.image}
            alt={project.data.title}
            class="card__image"
        />
    </div>
    <div class="card__text-container">
        <h5 class="card__title">{project.data.title}</h5>
        <p class="card__text">{project.data.description}</p>
        <div class="card__tags mb-4">
            {project.data.tags.map((tag) => <Badge name={tag} />)}
        </div>
        <div class="card__btns">
            <ButtonOutline
                text="Visit Repository"
                href={project.data.repository}
                stretch="true"
            />

            {
                project.data.demo && (
                    <ButtonOutline
                        text="Visit Demo"
                        href={project.data.demo}
                        stretch="true"
                    />
                )
            }
        </div>
    </div>
</div>

<style>
    .card {
        @apply rounded-sm overflow-hidden shadow flex flex-col;
    }

    .card__image-container {
        @apply border-b;
    }

    .card__image {
        @apply max-h-[250px] bg-cover mx-auto;
    }

    .card__text-container {
        @apply px-4 pb-4 flex-1 flex flex-col;
    }

    .card__title {
        @apply text-xl font-bold capitalize my-2;
    }

    .card__text {
        @apply text-base mb-4;
    }

    .card__tags {
        @apply flex gap-2 mt-auto mb-4;
    }

    .card__btns {
        @apply flex flex-wrap gap-2;
    }
</style>
