---
import Badge from "./Badge.astro";
const skills: string[] = ["html"];
const languages: string[] = ["python", "javascript", "c", "cpp", "rust", "go"];
const frontend: string[] = [
    "html",
    "css",
    "sass",
    "bootstrap",
    "figma",
    "tailwind",
    "astro",
    "react",
    "threejs",
    "wasm",
];
const backend: string[] = [
    "django",
    "fastapi",
    "postgresql",
    "mongodb",
    "redis",
    "docker",
    "nextjs",
];
const machineLearning: string[] = [
    "numpy",
    "pandas",
    "pytorch",
    "opencv",
    "sklearn",
    "tensorflow",
];
const other: string[] = ["linux", "arch", "git", "selenium", "webpack"];
---

<section id="skills" class="py-24">
    <div class="container mx-auto px-2 md:px-4 lg:px-8">
        <div>
            <h2 class="heading-secondary mb-2">Skills & Interests</h2>
            <p class="text-body text-gray-600 mb-6 max-w-lg">
                These are some of the technologies I am knowleadgeable with or
                want to learn. My projects are more indicative of my
                capabilities.
            </p>
        </div>

        <div class="flex gap-2 pb-4 items-center border-b">
            <h4 class="text-lead">Languages:</h4>
            <div class="skill__badge-box">
                {languages.map((language) => <Badge name={language} />)}
            </div>
        </div>

        <div class="flex gap-2 pt-4">
            <div class="skill__box">
                <h5 class="text-lead">Frontend</h5>
                <div class="skill__badge-box">
                    {frontend.map((skill) => <Badge name={skill} />)}
                </div>
            </div>

            <div class="skill__box">
                <h5 class="text-lead">Backend & DevOPS</h5>
                <div class="flex flex-wrap gap-2">
                    {backend.map((skill) => <Badge name={skill} />)}
                </div>
            </div>

            <div class="skill__box">
                <h5 class="text-lead">Machine Learning</h5>
                <div class="skill__badge-box">
                    {machineLearning.map((skill) => <Badge name={skill} />)}
                </div>
            </div>

            <div class="skill__box">
                <h5 class="text-lead">Other</h5>
                <div class="skill__badge-box">
                    {other.map((skill) => <Badge name={skill} />)}
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .skill__box {
        @apply flex flex-col gap-2;
    }

    .skill__badge-box {
        @apply flex flex-wrap gap-2;
    }
</style>
